
<div class="card">
    <div class="card-header">
        Featured
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <p>Avg. Customer Review</p>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>    
        </li>
        <li class="list-group-item">
            <p>Categories</p>
            <select class="custom-select custom-select-sm">
                <option selected>Select category</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </li>
        <li class="list-group-item">
            <p>Cities</p>
            <select class="custom-select custom-select-sm">
                <option selected>Select your city</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </li>
    </ul>
</div>