<div class="container mt-5">
  <section class="mx-md-5 dark-grey-text">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-cascade wider reverse">
          <div class="view view-cascade overlay">
            <img class="card-img-top" src="https://static.mybuilder.com/bundles/mybuilderhomepage/images/top-spot/chimney.jpg" alt="Sample image">
          </div>
          <div class="card-body card-body-cascade text-center">
            <h3 class="font-weight-bold">Title of the news</h3>
            <p>Written by <strong>Abby Madison</strong>, 26/08/2018</p>
            <div class="social-counters">
              <a class="btn btn-fb">
                <i class="fab fa-facebook-f pr-2"></i>
                <span class="clearfix d-none d-md-inline-block">Facebook</span>
              </a>
              <a class="btn btn-tw">
                <i class="fab fa-instagram pr-2"></i>
                <span class="clearfix d-none d-md-inline-block">Instagram</span>
              </a>
              <a class="btn btn-gplus">
                <i class="fab fa-google-plus-g pr-2"></i>
                <span class="clearfix d-none d-md-inline-block">Google+</span>
              </a>
              <a class="btn btn-default">
                <i class="far fa-comments pr-2"></i>
                <span class="clearfix d-none d-md-inline-block">Comments</span>
              </a>
            </div>
          </div>
        </div>
        <div class="mt-5">

          <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui praesentium voluptatum deleniti atque
            corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
            sunt in culpa nemo enim ipsam voluptatem quia voluptas sit qui officia deserunt mollitia animi, id
            est laborum et dolorum fuga quidem rerum facilis est distinctio.
          </p>
          <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod
            maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Quis autem vel
            eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur. Temporibus
            autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates
            repudiandae sint et molestiae non recusandae itaque earum rerum.</p>

        </div>
      </div>
    </div>
    <hr class="mb-5 mt-4">
  </section>
</div>


<div class="container">
    <h1 class="my-4">Here are some tips that can help you fix some things by yourself</h1>
    <div class="row">
      <div class="col-md-7">
          <img class="img-fluid rounded mb-3 mb-md-0" src="../../../assets/pexels.jpg" alt="">
      </div>
      <div class="col-md-5">
        <h3>You Can Refinish Your Own Hardwood</h3>
        <p>Intimidated by this seemingly daunting project? Don't be. If you have the will and a whole day (or two) to yourself, you can refinish the hardwood floors in the major areas of your home. You don't necessarily need to sand, but if the floor is damaged enough to warrant buffing, check out your local hardware store and rent the equipment for anywhere from 4-48 hours. Here's how to refinish your hardwood floors.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-7">
          <img class="img-fluid rounded mb-3 mb-md-0" src="../../../assets/dhina.jpeg" alt="">
      </div>
      <div class="col-md-5">
        <h3>Fix a Patchy Lawn</h3>
        <p>Achieving a lush lawn doesn't have to be a constant struggle. And you don't have to pay big bucks for a lawn service to douse your yard with chemicals, either. Growing healthy, green grass is mainly just a matter of knowing what to give your lawn, and when to give it. Follow this advice from a pro to get your lawn shipshape before summer.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-7">
          <img class="img-fluid rounded mb-3 mb-md-0" src="../../../assets/fp_services_default.jpg" alt="">
      </div>
      <div class="col-md-5">
        <h3>Garbage Disposal Repair</h3>
        <p>A garbage disposal is a bit scary when it's turned on and the blades are noisily chopping up kitchen waste. But, if your disposal gets stinky, fear not. It's easy to clean out the gunk and get rid of the smell. If the splash guard needs replacing, you can do that in 20 minutes! If you need to replace the entire disposal you can replace it yourself.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-7">
          <img class="img-fluid rounded mb-3 mb-md-0" src="../../../assets/stephane.jpg" alt="">
      </div>
      <div class="col-md-5">
        <h3>Fix a Smelly Dishwasher</h3>
        <p>Stop bad dishwasher odors by cleaning food scraps from the tub and running a dishwasher cleaner through a cycle. It’s a fairly simple DIY home improvement. Learn how to fix a smelly dishwasher.</p>
      </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-7">
            <img class="img-fluid rounded mb-3 mb-md-0" src="../../../assets/lou7.jpg" alt="">
        </div>
        <div class="col-md-5">
          <h3>Painting the house</h3>
          <p>Start by thinking about how you want the finished project to look and remember that you’re not limited to four walls in the same color. Consider painting an accent wall in a bold hue or highlighting moldings in a contrasting shade or finish. And don’t forget to look up and see whether the ceiling could use a refresh as well.</p>
        </div>
    </div>
<br>