  <!--Section: Content-->
  <section class="dark-grey-text">
    <div class="container my-5 p-5 z-depth-1">
    <h2 class="text-center font-weight-bold mb-4 pb-2">About us</h2>
    <!-- Section description -->
    <p class="text-center lead grey-text mx-auto mb-5">Bricoly is the leading website for connecting individuals and housing professionals. Today, we are driven by the same objective: to offer individuals and artisans the most reliable and easiest way to identify, prepare and carry out all work projects.</p>
    <!-- Section heading -->
    <h2 class="text-center font-weight-bold mb-4 pb-2">Why is it so great?</h2>
    <!-- Section description -->
    <p class="text-center lead grey-text mx-auto mb-5">The professionals at Bricoly are proud of their work and their relationship with the client. To demonstrate their commitment to service and quality, all professionals who wish to join Bricoly must accept the following policy.</p>
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-lg-5 text-center text-lg-left">
        <img style="width: 95%;" class="img-fluid" src="../../../assets/LogoSample_ByTailorBrands.jpg" alt="Sample image">
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-lg-7">
        <!-- Grid row -->
        <div class="row mb-3">
          <!-- Grid column -->
          <div class="col-1">
            <i class="fas fa-share fa-lg indigo-text"></i>
          </div>
          <!-- Grid column -->
          <!-- Grid column -->
          <div class="col-xl-10 col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Treat your customers with respect in all circumstances, both on the website and in person.</h5>
            <p class="grey-text">Clean up behind you when the job is done. Act like a responsible professional with individuals, without physical or verbal violence. We ensure mutual respect, which is why Bricoly also reminds individuals of their responsibilities.</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
        <br>
        <!-- Grid row -->
        <div class="row mb-3">
          <!-- Grid column -->
          <div class="col-1">
            <i class="fas fa-share fa-lg indigo-text"></i>
          </div>
          <!-- Grid column -->
          <!-- Grid column -->
          <div class="col-xl-10 col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Respect the agreements concluded and your meetings with individuals in all circumstances</h5>
            <p class="grey-text">We understand that as an entrepreneur you can be busy and that it is sometimes difficult for you to honor your commitments. However, be sure to notify your clients in advance to apologize and arrange a new appointment.</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
        <br>
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-1">
            <i class="fas fa-share fa-lg indigo-text"></i>
          </div>
          <!-- Grid column -->
          <!-- Grid column -->
          <div class="col-xl-10 col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Clearly indicate the total amount of the site and any additional costs, as well as the start date of the site and its duration.</h5>
            <p class="grey-text mb-0">
              Individuals seek clarity and certainty and do not appreciate the unexpected. You are the expert and the individual has confidence in the image you send back. Make sure to communicate clearly and quickly your new schedule in case of unforeseen events.</p>
          </div>
          <!-- Grid column -->
        </div>
        <br>
        <!--Grid row-->
        <div class="row">

          <!-- Grid column -->
          <div class="col-1">
            <i class="fas fa-share fa-lg indigo-text"></i>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-xl-10 col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Be sure to write professional messages to show your interest.
            </h5>
            <p class="grey-text mb-0">
              When individuals embark on a major investment in their housing, they hope for a professional quote. Therefore, be sure to write in understandable French. Don't offer ridiculously low rates. Do not use the argument of the fees of Bricoly in relation to the connection in response to an individual. Your quotes must be clear and include VAT and the method of payment.
            </p>
          </div>
          <!-- Grid column -->

        </div>
        <br>
        <div class="row">

          <!-- Grid column -->
          <div class="col-1">
            <i class="fas fa-share fa-lg indigo-text"></i>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-xl-10 col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Provide quality work, complete the job, and fix any problems if necessary.
            </h5>
            <p class="grey-text mb-0">
              The most important thing is to provide high quality work. Do not accept projects that you cannot carry out. Finish your work cleanly and do not abandon the work in progress. A problem may arise and cause a complaint. It is very important to settle this correctly with the individual. Can't seem to find common ground? We are at your disposal.
            </p>
          </div>
          <!-- Grid column -->

        </div>

      </div>
      <!--Grid column-->

    </div>
    <!-- Grid row -->
  </div>
  </section>
  <!--Section: Content-->






    <!--Section: Content-->
    <section class="dark-grey-text mb-5 bg grey lighten-4 mt-5">
      <div class="container mt-5">
      <style>
        .map-container-section {
          overflow:hidden;
          padding-bottom:56.25%;
          position:relative;
          height:0;
        }
        .map-container-section iframe {
          left:0;
          top:0;
          height:100%;
          width:100%;
          position:absolute;
        }
      </style>

      <!-- Section heading -->
      <h3 class="font-weight-bold text-center mb-4 ">Contact Us</h3>
      <!-- Section description -->
      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-5 mb-lg-0 pb-lg-3 mb-4">

          <!-- Form with header -->
          <div class="card bg teal lighten-5">
            <div class="card-body">
              <!-- Header -->
              <div class="form-header ">
                <h3 class="mt-2"><i class="fas fa-envelope"></i> Write to us:</h3>
              </div>
              <p class="dark-grey-text">We'll write rarely, but only the best content.</p>
              <!-- Body -->
              <div class="md-form">
                <i class="fas fa-user prefix grey-text"></i>
                <input type="text" id="form-name" class="form-control">
                <label for="form-name">Your name</label>
              </div>
              <div class="md-form">
                <i class="fas fa-envelope prefix grey-text"></i>
                <input type="text" id="form-email" class="form-control">
                <label for="form-email">Your email</label>
              </div>
              <div class="md-form">
                <i class="fas fa-tag prefix grey-text"></i>
                <input type="text" id="form-Subject" class="form-control">
                <label for="form-Subject">Subject</label>
              </div>
              <div class="md-form">
                <i class="fas fa-pencil-alt prefix grey-text"></i>
                <textarea id="form-text" class="form-control md-textarea" rows="3"></textarea>
                <label for="form-text">Send message</label>
              </div>
              <div class="text-center">
                <button class="btn btn-light-blue">Submit</button>
              </div>
            </div>
          </div>
          <!-- Form with header -->

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-7">

          <!--Google map-->
          <div id="map-container-section" class="z-depth-1-half map-container-section mb-4" style="height: 400px">
            <iframe src="https://maps.google.com/maps?q=Ariana&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0"
              style="border:0" allowfullscreen></iframe>
          </div>
          <!-- Buttons-->
          <div class="row text-center">
            <div class="col-md-4">
              <a class="btn-floating">
                <i class="fas fa-map-marker-alt"></i>
              </a>
              <p>Ariana, 2030</p>
              <p class="mb-md-0">Tunisia</p>
            </div>
            <div class="col-md-4">
              <a class="btn-floating">
                <i class="fas fa-phone"></i>
              </a>
              <p>+ 216 24 54 69 35</p>
              <p class="mb-md-0">Mon - Fri, 8:00-22:00</p>
            </div>
            <div class="col-md-4">
              <a class="btn-floating">
                <i class="fas fa-envelope"></i>
              </a>
              <p>support@bricoly.com</p>
              <p class="mb-0">staff@bricoly.com</p>
            </div>
          </div>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->
    </div>
    </section>
    <!--Section: Content-->



