.card{
  margin-left: 30px;
  max-width: 250px;
  max-height: 250px;


}

.circle-img {
  width: 70px;
  height: 100px;
  overflow: hidden;
}

.circle-img img {
  height: 100%;
  transform: translateX(-50%);
  margin-left: 50%;
}
.card-title{
  text-align: center;
  color: black;
  font-family: playfair display,serif;
}
.card-text{
  color: black;
  font-family: playfair display,serif;
}
h1 {
  font-family: playfair display,serif;
  text-align: center;
  color: black;
}
h4{
  font-family: playfair display,serif;
  text-align: center;
  font-size: 20px;
  color: black;
}


