<h1>Fanatical about feedback</h1>
<h4>The best way to know a tradesman is to listen to their customers.
  Feedback isn't just a feature on Bricoly. We've built our whole business on it.</h4>

<div class="container">
  <div class="row row-cols-4">

      <!-- Card -->
<div class="card">

  <!-- Card image -->
  <div class="avatar mx-auto white">
    <img src="https://photo.mybuilder.com/50_thumb/9203750_172f70e45e.jpg" class="rounded-circle"
      alt="woman avatar">
  </div>

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title">Electricity</h4>
    <img src="https://img.icons8.com/emoji/20/000000/star-emoji.png"/>
    <img src="https://img.icons8.com/emoji/20/000000/star-emoji.png"/>
    <img src="https://img.icons8.com/emoji/20/000000/star-emoji.png"/>
    <img src="https://img.icons8.com/emoji/20/000000/star-emoji.png"/>
    <img src="https://img.icons8.com/emoji/20/000000/star-emoji.png"/>
    <!-- Text -->
    <p class="card-text">Very nice guy and works albeit ended up refurbishing the entire house and some!</p>


  </div>

</div>
<!-- Card -->
  <!-- Card -->
  <div class="card">

    <!-- Card image -->
    <div class="avatar mx-auto white">
      <img src="https://photo.mybuilder.com/50_thumb/10209422_e555707f50.png" class="rounded-circle"
        alt="woman avatar">
    </div>

    <!-- Card content -->
    <div class="card-body">

      <!-- Title -->
      <h4 class="card-title">Painting</h4>
      <img src="https://img.icons8.com/emoji/20/000000/star-emoji.png"/>
      <img src="https://img.icons8.com/emoji/20/000000/star-emoji.png"/>
      <img src="https://img.icons8.com/emoji/20/000000/star-emoji.png"/>
      <img src="https://img.icons8.com/emoji/20/000000/star-emoji.png"/>
      <img src="https://img.icons8.com/emoji/20/000000/star-emoji.png"/>
      <!-- Text -->
      <p class="card-text">Small job, but done same day without any fuss. Good service.</p>


    </div>

  </div>
  <!-- Card -->
    <!-- Card -->
<div class="card">

  <!-- Card image -->
  <div class="avatar mx-auto white">
    <img src="https://photo.mybuilder.com/50_thumb/7657374_0f3d3ee2a6.jpg" class="rounded-circle"
      alt="woman avatar">
  </div>

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title">Air Conditionning & Cooling</h4>
    <img src="https://img.icons8.com/emoji/20/000000/star-emoji.png"/>
    <img src="https://img.icons8.com/emoji/20/000000/star-emoji.png"/>
    <img src="https://img.icons8.com/emoji/20/000000/star-emoji.png"/>
    <img src="https://img.icons8.com/emoji/20/000000/star-emoji.png"/>
    <img src="https://img.icons8.com/emoji/20/000000/star-emoji.png"/>
    <!-- Text -->
    <p class="card-text">Small job, but done same day without any fuss. Good service.</p>


  </div>

</div>
<!-- Card -->
  <!-- Card -->
  <div class="card">

    <!-- Card image -->
    <div class="avatar mx-auto white">
      <img src="https://photo.mybuilder.com/50_thumb/3825803_87f845023d.jpg" class="rounded-circle"
        alt="woman avatar">
    </div>

    <!-- Card content -->
    <div class="card-body">

      <!-- Title -->
      <h4 class="card-title">Gardening</h4>
      <img src="https://img.icons8.com/emoji/20/000000/star-emoji.png"/>
      <img src="https://img.icons8.com/emoji/20/000000/star-emoji.png"/>
      <img src="https://img.icons8.com/emoji/20/000000/star-emoji.png"/>
      <img src="https://img.icons8.com/emoji/20/000000/star-emoji.png"/>
      <img src="https://img.icons8.com/emoji/20/000000/star-emoji.png"/>
      <!-- Text -->
      <p class="card-text">He gave quick responses to any questions I had, meaning...</p>


    </div>

  </div>
  <!-- Card -->
    </div>

</div>





