<div class="container text-center" style="margin-top: 5%;">

  <h2 style="text-align: center;">Reputation Is Key</h2>
  <h5 class="text-muted">The best way to know a tradesman is to listen to their customers.
    <br>Feedback isn't just a feature on Bricoly. We've built our whole business on it.</h5>


  <div class="card-deck">
    <!-- Card -->
    <mdb-card class="text-center">
      <div class="view overlay waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img src="../../../assets/avatar-1.svg" alt="Card image cap">
        </mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>Wala Abdaoui</h4>
          <h5 class="text-muted">Electrician</h5>
          <img src="https://img.icons8.com/emoji/20/000000/star-emoji.png" />
          <img src="https://img.icons8.com/emoji/20/000000/star-emoji.png" />
          <img src="https://img.icons8.com/emoji/20/000000/star-emoji.png" />
          <img src="https://img.icons8.com/emoji/20/000000/star-emoji.png" />
          <img src="https://img.icons8.com/emoji/20/000000/star-emoji.png" />
          <h6 class="text-muted">185 Reviews</h6>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text>
          Very nice guy and works albeit ended up refurbishing the entire house and some!<br>
        </mdb-card-text>

      </mdb-card-body>
    </mdb-card>

    <!-- Card -->
    <mdb-card>
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img src="../../../assets/avatar-2.svg" alt="Card image cap">
        </mdb-card-img>
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>Moataz Djebali</h4>
          <h5 class="text-muted">Painter</h5>
          <img src="https://img.icons8.com/emoji/20/000000/star-emoji.png" />
          <img src="https://img.icons8.com/emoji/20/000000/star-emoji.png" />
          <img src="https://img.icons8.com/emoji/20/000000/star-emoji.png" />
          <img src="https://img.icons8.com/emoji/20/000000/star-emoji.png" />
          <img src="https://img.icons8.com/emoji/20/000000/star-emoji.png" />
          <h6 class="text-muted">212 Reviews</h6>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text>
          Small job, but done same day without any fuss. Good service.
        </mdb-card-text>

      </mdb-card-body>
    </mdb-card>

    <!-- Card -->
    <mdb-card>
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img src="../../../assets/avatar-3.svg" alt="Card image cap"></mdb-card-img>
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>Taha Khelfa</h4>
          <h5 class="text-muted">AC Sepecialist</h5>
          <img src="https://img.icons8.com/emoji/20/000000/star-emoji.png" />
          <img src="https://img.icons8.com/emoji/20/000000/star-emoji.png" />
          <img src="https://img.icons8.com/emoji/20/000000/star-emoji.png" />
          <img src="https://img.icons8.com/emoji/20/000000/star-emoji.png" />
          <img src="https://img.icons8.com/emoji/20/000000/star-emoji.png" />
          <h6 class="text-muted">72 Reviews</h6>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text>
          Very swift job done. Reliable and kept us up to date with when everything was going to happen.
        </mdb-card-text>

      </mdb-card-body>
    </mdb-card>

  </div>

  <button style="margin-top: 2%;" type="button" mdbBtn color="secondary" mdbWavesEffect routerLink="/findProf">Browse
    Professionals</button>

</div>