<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{allNoti.service}}</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6" *ngFor = "let names in allNoti.professional">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{allNoti.professional.first_name}}</h5>
          <h5 class="card-title">{{allNoti.professional.last_name}}</h5>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>