
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>How to Hire an exceptional Professional</h2>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-md-4"><!-- Card -->
          <div class="card">

            <!-- Card image -->
            <div class="view overlay">
              <img class="card-img-top" src="https://static.mybuilder.com/bundles/mybuilderhomepage/images/step1.png"
                alt="Card image cap">
              <a href="#">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!-- Card content -->
            <div class="card-body">

              <!-- Title -->
              <a href="#"><h4 class="card-title">Post a Job Today</h4></a>
              <!-- Text -->
              <p class="card-text">Tell us about your job, and we'll alert suitable Professional in your area. It’s simple and free.</p>


            </div>

          </div>
          <!-- Card --></div>
        <div class="col-md-4"><!-- Card -->
          <div class="card">

            <!-- Card image -->
            <div class="view overlay">
              <img class="card-img-top" src="https://static.mybuilder.com/bundles/mybuilderhomepage/images/step2.png"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!-- Card content -->
            <div class="card-body">

              <!-- Title -->
              <h4 class="card-title">Professional respond</h4>
              <!-- Text -->
              <p class="card-text">Once your job is posted, you'll get responses from interested Professional through the website.</p>


            </div>

          </div>
          <!-- Card --></div>
        <div class="col-md-4"><!-- Card -->
          <div class="card">

            <!-- Card image -->
            <div class="view overlay">
              <img class="card-img-top" src="https://static.mybuilder.com/bundles/mybuilderhomepage/images/step3.png"
                alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!-- Card content -->
            <div class="card-body">

              <!-- Title -->
              <h4 class="card-title">Review & Choose</h4>
              <!-- Text -->
              <p class="card-text">Browse profiles, work history, and feedback, then choose who you wish to share your details with.</p>


            </div>

          </div>
          <!-- Card --></div>
      </div>
    </div>
  </div>
</div>

