
<div class="container text-center mt-5 mb-5">
  
    <div class="col-12">
      <h2>How It Works</h2>
    </div>


    <div class="card-deck text-center">
      <!-- Card -->
      <mdb-card>
        <div class="view overlay waves-light" mdbWavesEffect>
          <!-- Card img -->
          <mdb-card-img src="https://static.mybuilder.com/bundles/mybuilderhomepage/images/step1.png" alt="Post a job on Bricoly"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title>
            <h4>Post A Job Today</h4>
          </mdb-card-title>
    
          <!--Text-->
          <mdb-card-text>
            Tell us about your job, and we'll alert suitable professionals in your area. It’s simple and free.
          </mdb-card-text>
    
        </mdb-card-body>
      </mdb-card>
    
      <!-- Card -->
      <mdb-card>
        <div class="view rgba-white-slight waves-light" mdbWavesEffect>
          <!-- Card img -->
          <mdb-card-img src="https://static.mybuilder.com/bundles/mybuilderhomepage/images/step2.png" alt="Card image cap"></mdb-card-img>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title>
            <h4>Professionals Respond</h4>
          </mdb-card-title>
    
          <!--Text-->
          <mdb-card-text>
            Once posted, you'll get responses from interested <b>professionals</b> through the website.
          </mdb-card-text>
    
        </mdb-card-body>
      </mdb-card>
    
      <!-- Card -->
      <mdb-card>
        <div class="view rgba-white-slight waves-light" mdbWavesEffect>
          <!-- Card img -->
          <mdb-card-img src="https://static.mybuilder.com/bundles/mybuilderhomepage/images/step3.png" alt="Card image cap"></mdb-card-img>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title>
            <h4>Review & Choose</h4>
          </mdb-card-title>
    
          <!--Text-->
          <mdb-card-text>
            Browse profiles, work history, and feedback, then choose who you wish to share your details with.
          </mdb-card-text>
    
          
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>


