<!-- Default form contact -->
<form class="text-center border border-light p-5" #signupProfForm="ngForm" (ngSubmit)="onSubmit(signupProfForm)" action="#!">
  
  <p class="h4 mb-4">Register as a Professional</p>
  
  <div class="form-row mb-4" >
    <div class="col">
      <!-- First name -->
      <input type="text" id="firstName" class="form-control" placeholder="First name" required
      [(ngModel)]="newUser.firstName" name="firstName" #firstName="ngModel"
      >
      <div [hidden]="firstName.valid || firstName.pristine"
      class="alert alert-danger">
      Name is required
    </div>
  </div>
  <div class="col">
    <!-- Last name -->
    <input type="text" id="lastName" class="form-control" placeholder="Last name" required
    [(ngModel)]="newUser.lastName" name="lastName"
    >
  </div>
</div>

<!-- E-mail -->
<div class="form-row mb-4">
  <input type="email" id="email" class="form-control" placeholder="E-mail" required
  [(ngModel)]="newUser.email" name="email" #email="ngModel" pattern="\S+@\S+\.\S+$"
  >
  <div [hidden]="email.valid || email.pristine"
  class="alert alert-danger col">
  E-mail is required
</div>
</div>
<!-- Password -->
<div class="form-row mb-4">
  <input type="password" id="password" class="form-control" placeholder="Password" aria-describedby="PasswordHelpBlock" required
  [(ngModel)]="newUser.password" name="password" #password="ngModel" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{2,}$" 
  > <!-- TODO : change password minlength to 8 instead of 2 -->
  <div [hidden]="password.valid || password.pristine"
  class="alert alert-danger col">
  Password is required : At least 8 characters and 1 digit
</div>
</div>

<!-- Password confirmation -->
<div class="form-row mb-4">
  <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm password" aria-describedby="PasswordHelpBlock" required
  [(ngModel)]="passwordConfirmation" name="passwordConfirmation" #passwordConfirmationM="ngModel" 
  >
  <div [hidden]="( passwordConfirmationM.valid && newUser.password === passwordConfirmation ) || passwordConfirmationM.pristine"
  class="alert alert-danger col">
  Passwords do not match
</div>
</div>

<!-- Phone number -->
<div class="form-row mb-4">
  <input type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="Phone number" aria-describedby="PhoneHelpBlock" required
  [(ngModel)]="newUser.phone" name="phone" #phone="ngModel" pattern="\d{8}"
  >
  <div [hidden]="phone.valid || phone.pristine"
  class="alert alert-danger col">
  Phone number is required
</div>
</div>


<!-- Subject -->

<select class="form-control custom-select mb-4"  name="categoryDrpDown" [(ngModel)]="category" aria-placeholder="Select your Category" required >
  
  <option value=""  disable selected >Choose Category</option>
  <option value="1" >Plumbing</option>
  <option value="2" >Security</option>
  <option value="3">Elevators</option>
  <option value="4">Painting</option>
  <option value="5">Electricity</option>
  <option value="6">Air Conditionning & Cooling</option>
  <option value="7">Cleaning</option>
  <option value="8">Doors & Windows</option>
  <option value="9">Gardening & Outdoor</option>
  <option value="10">Construction & Renovation</option>
  <option value="11">Renewable & Solar Energy</option>
  <option value="12">Heating</option>
  <option value="13">Construction & Renovation</option>
  <option value="14">Bathroom & Sanitary</option>
  <option value="15">Home Appliances</option>
  <option value="16">Other</option>
  
</select>

<!-- Name -->
<input type="text" id="address" class="form-control mb-4" placeholder="enter your adress" 
[(ngModel)]="newUser.adress" name="address" #address="ngModel" >

<!-- Email -->
<input type="text" id="defaultContactFormEmail" class="form-control mb-4" placeholder="zip code"
>



<!-- Message -->
<div class="form-group">
  <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Description"
  [(ngModel)]="newUser.description" name="description" #description="ngModel"></textarea>
</div>

<!-- Copy -->
<div class="form-row mb-4">
  <div class="custom-control custom-checkbox mb-4">
    <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
    <label class="custom-control-label" for="defaultContactFormCopy">Motorized</label>
  </div>
</div>

<!-- Send button -->
<button mdbBtn color="info" block="true" class="my-4" type="submit" >Send</button>

</form>
<!-- Default form contact -->
