<div class="container text-center mb-5 mt-5 yellow darken-3 pt-2 pb-2">
  <div class="text-center" >
    <h2 class="mb-2">Every Service You Need</h2>
    <h5 class="text" style="color: white;">With Bricoly, you can get in touch with a wide range of professionals.
      <br>Our goal is to help our clients with everything they would need for their home or their office.</h5>
  </div>
  <div class="card-deck">

        <mdb-card class="text-center" *ngFor="let category of selectCategories"> 
          <mdb-card-body>
            <img [src]="category.icon_url" style="margin-bottom: 5%;" />
            <mdb-card-title>
              <h4 class="mb-2">{{ category.category }}</h4>
            </mdb-card-title>
          </mdb-card-body>
        </mdb-card>
  </div>
  <button style="margin-top: 2%;" type="button" mdbBtn class="secondary-color" style="color: white;" mdbWavesEffect routerLink="/job-post">
    View Full List  
  </button>
</div>