
<div class="row mb-9">
    <div class="col-gm">
<div class="card text-center">
    <div class="card-header">
  Category
    </div>
    <div class="card-body">
        
        <button style="border: none; background: transparent;"><img src="https://img.icons8.com/color/96/000000/painting-a-wall.png"/></button><br>
        <p>Painting</p>
        <button style="border: none; background: transparent;"><img src="https://img.icons8.com/fluent/96/000000/service.png"/></button>
        <p>Electricity</p>
        <button style="border: none; background: transparent;"><img src="https://img.icons8.com/fluent/96/000000/air-conditioner.png"/></button>
        <p>Air Conditionning & Cooling</p>
    </div>
    <div class="card-footer text-muted">
     choose your Category
    </div>
  </div>
</div>
</div>