<div class="text-center" style="margin-bottom: 5%;">
    <h4 class="mb-2">What type of service do you want ?</h4>
</div>


<div class="col align-self-center text-left mt-5">
    <!-- Group of default radios - option 1 -->
    <div class="custom-control custom-radio">
        <input [(ngModel)]="selectService" name="service_type" value="Installation" type="radio"
            class="custom-control-input" id="defaultGroupExample1" name="groupOfDefaultRadios">
        <label class="custom-control-label" for="defaultGroupExample1">Installation</label>
    </div>

    <!-- Group of default radios - option 2 -->
    <div class="custom-control custom-radio">
        <input [(ngModel)]="selectService" name="service_type" value="Replacement" type="radio"
            class="custom-control-input" id="defaultGroupExample2" name="groupOfDefaultRadios" checked>
        <label class="custom-control-label" for="defaultGroupExample2">Replacement</label>
    </div>

    <!-- Group of default radios - option 3 -->
    <div class="custom-control custom-radio">
        <input [(ngModel)]="selectService" name="service_type" value="Reparation" type="radio"
            class="custom-control-input" id="defaultGroupExample3" name="groupOfDefaultRadios">
        <label class="custom-control-label" for="defaultGroupExample3">Reparation</label>
    </div>

    <button routerLink="/job-post/client-type" [disabled]="!selectService" (click)="onClick(selectService)" mdbBtn
        type="button" class="secondary-color mt-3" mdbWavesEffect style="color: white;">Next</button>
</div>