<div class = "fluid-container">
  <div class = "text-center">
    <div class="container">
       <img class="position-absolute" src="https://img.icons8.com/ios-filled/50/000000/marker-b.png "/>
    </div>
  </div>
  <div class="slider">
    <div class="slider-content d-flex flex-column justify-content-center align-items-center">
      <h1 class="h1">
        Welcome
      </h1>
  <button class="slider-content--cta btn btn-outline-white px-5 py-3">Register as Professional</button>
    </div>
  </div>
</div>
