
  <div class="slider">
    <div class="slider-content d-flex flex-column justify-content-center align-items-center text-center">
      <h1 class="h1" style="color: white;"><b>
        Finding the right handyman,<br>made easy !</b>
      </h1><br>
      <button mdbBtn type="button" class="secondary-color" style="color: white;" mdbWavesEffect routerLink="/job-post">Post a job</button>
      <button mdbBtn type="button" class="yellow darken-3" mdbWavesEffect routerLink="/auth/signup-professional">Register as a professional</button>
    </div>
  </div>
